<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payment.admin.mapper.MerchantStatisticsMouthMapper">
	<resultMap type="cn.com.payment.admin.model.MerchantStatisticsMouth" id="merchantStatisticsMouthResultMap">
		<id column="msm_sdId" jdbcType="BIGINT" property="sdId" />
		<result column="msm_mchId" jdbcType="BIGINT" property="mchId" />
		<result column="msm_sdMouth" jdbcType="TIMESTAMP" property="sdMouth" />
		<result column="msm_payCountTotal" jdbcType="INTEGER" property="payCountTotal" />
		<result column="msm_payAmountTotal" jdbcType="BIGINT" property="payAmountTotal" />
		<result column="msm_payCountSucc" jdbcType="INTEGER" property="payCountSucc" />
		<result column="msm_payAmountSucc" jdbcType="BIGINT" property="payAmountSucc" />
		<result column="msm_realAmount" jdbcType="BIGINT" property="realAmount" />
		<result column="msm_totleFee" jdbcType="BIGINT" property="totleFee" />
		<result column="msm_refundCount" jdbcType="INTEGER" property="refundCount" />
		<result column="msm_refundAmount" jdbcType="BIGINT" property="refundAmount" />
		<result column="msm_state" jdbcType="VARCHAR" property="state" />
		<result column="msm_createTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="msm_updateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<insert id="save" parameterType="MerchantStatisticsMouth" useGeneratedKeys="true" keyProperty="sdId">
	  INSERT INTO pay_merchant_statistics_mouth
	  (msm_mchId,msm_sdMouth,msm_payCountTotal,msm_payAmountTotal,msm_payCountSucc,msm_payAmountSucc,msm_realAmount,msm_totleFee,msm_refundCount,msm_refundAmount,msm_state,msm_createTime,msm_updateTime)
	  VALUES 
	  (#{mchId},#{sdMouth},#{payCountTotal},#{payAmountTotal},#{payCountSucc},#{payAmountSucc},#{realAmount},#{totleFee},#{refundCount},#{refundAmount},#{state},#{createTime},#{updateTime})
	</insert>

	<insert id="insertBatch" parameterType="MerchantStatisticsMouth">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		pay_merchant_statistics_mouth
		(msm_mchId,msm_sdMouth,msm_payCountTotal,msm_payAmountTotal,msm_payCountSucc,msm_payAmountSucc,msm_realAmount,msm_totleFee,msm_refundCount,msm_refundAmount,msm_state,msm_createTime,msm_updateTime)
		SELECT *
		FROM (
		<foreach collection="list" item="merchantStatisticsMouth" index="index"
			open="" close="" separator="union all">
			SELECT
					 #{mchId} as msm_mchId,
					 #{sdMouth} as msm_sdMouth,
					 #{payCountTotal} as msm_payCountTotal,
					 #{payAmountTotal} as msm_payAmountTotal,
					 #{payCountSucc} as msm_payCountSucc,
					 #{payAmountSucc} as msm_payAmountSucc,
					 #{realAmount} as msm_realAmount,
					 #{totleFee} as msm_totleFee,
					 #{refundCount} as msm_refundCount,
					 #{refundAmount} as msm_refundAmount,
					 #{state} as msm_state,
					 #{createTime} as msm_createTime,
					 #{updateTime} as msm_updateTime
			FROM DUAL
		</foreach>
		) A
	</insert>

	
	<update id="update" parameterType="MerchantStatisticsMouth">
		UPDATE pay_merchant_statistics_mouth
		<set>
		  <if test="sdId !=null and sdId >= 0 "> 
			 msm_sdId = #{sdId},
	      </if>
		  <if test="mchId !=null and mchId >= 0 "> 
			 msm_mchId = #{mchId},
	      </if>
		  <if test="sdMouth !=null and sdMouth!='' ">
			 msm_sdMouth=#{sdMouth},  
		  </if> 
		  <if test="payCountTotal !=null and payCountTotal!='' ">
			 msm_payCountTotal=#{payCountTotal},  
		  </if> 
		  <if test="payAmountTotal !=null and payAmountTotal >= 0 "> 
			 msm_payAmountTotal = #{payAmountTotal},
	      </if>
		  <if test="payCountSucc !=null and payCountSucc!='' ">
			 msm_payCountSucc=#{payCountSucc},  
		  </if> 
		  <if test="payAmountSucc !=null and payAmountSucc >= 0 "> 
			 msm_payAmountSucc = #{payAmountSucc},
	      </if>
		  <if test="realAmount !=null and realAmount >= 0 "> 
			 msm_realAmount = #{realAmount},
	      </if>
		  <if test="totleFee !=null and totleFee >= 0 "> 
			 msm_totleFee = #{totleFee},
	      </if>
		  <if test="refundCount !=null and refundCount!='' ">
			 msm_refundCount=#{refundCount},  
		  </if> 
		  <if test="refundAmount !=null and refundAmount >= 0 "> 
			 msm_refundAmount = #{refundAmount},
	      </if>
		  <if test="state !=null and state!='' ">
			 msm_state=#{state},  
		  </if> 
		  <if test="createTime !=null and createTime!='' ">
			 msm_createTime=#{createTime},  
		  </if> 
		  <if test="updateTime !=null and updateTime!='' ">
			 msm_updateTime=#{updateTime}  
		  </if> 
		</set>
		WHERE msm_sdId = #{sdId}
	</update>

	<delete id="deleteByPK">
		DELETE FROM pay_merchant_statistics_mouth WHERE msm_sdId = #{sdId}
	</delete>


	<delete id="deleteByPKs" parameterType="java.util.ArrayList">
	  DELETE FROM pay_merchant_statistics_mouth WHERE msm_sdId IN
		<foreach collection="array" item="sdId" open="(" separator="," close=")">
			 #{sdId}
		</foreach>
	</delete>
	
	<delete id="delete" parameterType="MerchantStatisticsMouth"> 
		DELETE FROM pay_merchant_statistics_mouth WHERE msm_sdId = #{sdId}
	</delete>
	
	<select id="exists" parameterType="java.lang.Long" resultType="boolean">
		select count(*) from pay_merchant_statistics_mouth where msm_sdId = #{sdId}
	</select>
	
	<select id="selectOne" parameterType="java.lang.Long" resultMap="merchantStatisticsMouthResultMap">
		select * from pay_merchant_statistics_mouth
		where msm_sdId = #{sdId}
	</select>
	
	<select id="selectAll" resultMap="merchantStatisticsMouthResultMap">
		select * from pay_merchant_statistics_mouth
	</select>
	
	<select id="selectByPKs" parameterType="java.util.ArrayList" resultMap="merchantStatisticsMouthResultMap">
		select * from pay_merchant_statistics_mouth
		where msm_sdId in
		<foreach collection="array" item="sdId" open="(" separator="," close=")">
			 #{sdId}
		</foreach>
	</select>
	
	<select id="selectByProperty" parameterType="MerchantStatisticsMouth" resultMap="merchantStatisticsMouthResultMap">
	  SELECT * FROM pay_merchant_statistics_mouth 
		<where>
		  <if test="sdId !=null and sdId >= 0 ">
			 msm_sdId=#{sdId}  
		  </if> 
		  <if test="mchId !=null and mchId >= 0 ">
			AND msm_mchId=#{mchId} 
		  </if> 
	      <if test="sdMouth !=null and sdMouth!='' ">
			AND msm_sdMouth=#{sdMouth}  
		  </if> 
	      <if test="payCountTotal !=null and payCountTotal!='' ">
			AND msm_payCountTotal=#{payCountTotal}  
		  </if> 
		  <if test="payAmountTotal !=null and payAmountTotal >= 0 ">
			AND msm_payAmountTotal=#{payAmountTotal} 
		  </if> 
	      <if test="payCountSucc !=null and payCountSucc!='' ">
			AND msm_payCountSucc=#{payCountSucc}  
		  </if> 
		  <if test="payAmountSucc !=null and payAmountSucc >= 0 ">
			AND msm_payAmountSucc=#{payAmountSucc} 
		  </if> 
		  <if test="realAmount !=null and realAmount >= 0 ">
			AND msm_realAmount=#{realAmount} 
		  </if> 
		  <if test="totleFee !=null and totleFee >= 0 ">
			AND msm_totleFee=#{totleFee} 
		  </if> 
	      <if test="refundCount !=null and refundCount!='' ">
			AND msm_refundCount=#{refundCount}  
		  </if> 
		  <if test="refundAmount !=null and refundAmount >= 0 ">
			AND msm_refundAmount=#{refundAmount} 
		  </if> 
	      <if test="state !=null and state!='' ">
			AND msm_state=#{state}  
		  </if> 
	      <if test="createTime !=null and createTime!='' ">
			AND msm_createTime=#{createTime}  
		  </if> 
	      <if test="updateTime !=null and updateTime!='' ">
			AND msm_updateTime=#{updateTime}  
		  </if> 
		</where>
	</select>
	<select id="selectByPropertyKeyWord" parameterType="MerchantStatisticsMouth" resultMap="merchantStatisticsMouthResultMap">
	  SELECT * FROM pay_merchant_statistics_mouth 
		<where>
		  <if test="sdId !=null and sdId >= 0 ">
			 msm_sdId=#{sdId}  
		  </if> 
		  <if test="mchId !=null and mchId >= 0 ">
			AND msm_mchId=#{mchId} 
		  </if> 
	      <if test="sdMouth !=null and sdMouth!='' ">
			AND msm_sdMouth=#{sdMouth}  
		  </if> 
	      <if test="payCountTotal !=null and payCountTotal!='' ">
			AND msm_payCountTotal=#{payCountTotal}  
		  </if> 
		  <if test="payAmountTotal !=null and payAmountTotal >= 0 ">
			AND msm_payAmountTotal=#{payAmountTotal} 
		  </if> 
	      <if test="payCountSucc !=null and payCountSucc!='' ">
			AND msm_payCountSucc=#{payCountSucc}  
		  </if> 
		  <if test="payAmountSucc !=null and payAmountSucc >= 0 ">
			AND msm_payAmountSucc=#{payAmountSucc} 
		  </if> 
		  <if test="realAmount !=null and realAmount >= 0 ">
			AND msm_realAmount=#{realAmount} 
		  </if> 
		  <if test="totleFee !=null and totleFee >= 0 ">
			AND msm_totleFee=#{totleFee} 
		  </if> 
	      <if test="refundCount !=null and refundCount!='' ">
			AND msm_refundCount=#{refundCount}  
		  </if> 
		  <if test="refundAmount !=null and refundAmount >= 0 ">
			AND msm_refundAmount=#{refundAmount} 
		  </if> 
	      <if test="state !=null and state!='' ">
			AND msm_state=#{state}  
		  </if> 
	      <if test="createTime !=null and createTime!='' ">
			AND msm_createTime=#{createTime}  
		  </if> 
	      <if test="updateTime !=null and updateTime!='' ">
			AND msm_updateTime=#{updateTime}  
		  </if> 
		  <if test="keyWord !=null and keyWord!='' ">
			AND 
				(
		 		msm_state LIKE CONCAT(CONCAT('%', #{keyWord}),'%')
				 or
			 	)
		  </if> 
		</where>
	</select>
</mapper>