<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.payment.admin.mapper.TransBrandMapper">
	<resultMap type="cn.com.payment.admin.model.TransBrand" id="transBrandResultMap">
		<id column="ptb_transBrandId" jdbcType="BIGINT" property="transBrandId" />
		<result column="ptb_transBrandCode" jdbcType="VARCHAR" property="transBrandCode" />
		<result column="ptb_transBrandName" jdbcType="VARCHAR" property="transBrandName" />
		<result column="ptb_state" jdbcType="VARCHAR" property="state" />
		<result column="ptb_remark" jdbcType="VARCHAR" property="remark" />
		<result column="ptb_createTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="ptb_updateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	
	<insert id="save" parameterType="TransBrand" useGeneratedKeys="true" keyProperty="transBrandId">
	  INSERT INTO pay_trans_brand
	  (ptb_transBrandCode,ptb_transBrandName,ptb_state,ptb_remark,ptb_createTime,ptb_updateTime)
	  VALUES 
	  (#{transBrandCode},#{transBrandName},#{state},#{remark},NOW(),NOW())
	</insert>

	<insert id="insertBatch" parameterType="TransBrand">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		pay_trans_brand
		(ptb_transBrandCode,ptb_transBrandName,ptb_state,ptb_remark,ptb_createTime,ptb_updateTime)
		SELECT *
		FROM (
		<foreach collection="list" item="transBrand" index="index"
			open="" close="" separator="union all">
			SELECT
					 #{transBrandCode} as ptb_transBrandCode,
					 #{transBrandName} as ptb_transBrandName,
					 #{state} as ptb_state,
					 #{remark} as ptb_remark,
					 #{createTime} as ptb_createTime,
					 #{updateTime} as ptb_updateTime
			FROM DUAL
		</foreach>
		) A
	</insert>

	
	<update id="update" parameterType="TransBrand">
		UPDATE pay_trans_brand
		<set>
		  <if test="transBrandId !=null and transBrandId >= 0 "> 
			 ptb_transBrandId = #{transBrandId},
	      </if>
		  <if test="transBrandCode !=null and transBrandCode!='' ">
			 ptb_transBrandCode=#{transBrandCode},  
		  </if> 
		  <if test="transBrandName !=null and transBrandName!='' ">
			 ptb_transBrandName=#{transBrandName},  
		  </if> 
		  <if test="state !=null and state!='' ">
			 ptb_state=#{state},  
		  </if> 
		  <if test="remark !=null and remark!='' ">
			 ptb_remark=#{remark},  
		  </if> 
			 ptb_updateTime=NOW()
		</set>
		WHERE ptb_transBrandId = #{transBrandId}
	</update>

	<delete id="deleteByPK">
		DELETE FROM pay_trans_brand WHERE ptb_transBrandId = #{transBrandId}
	</delete>


	<delete id="deleteByPKs" parameterType="java.util.ArrayList">
	  DELETE FROM pay_trans_brand WHERE ptb_transBrandId IN
		<foreach collection="array" item="transBrandId" open="(" separator="," close=")">
			 #{transBrandId}
		</foreach>
	</delete>
	
	<delete id="delete" parameterType="TransBrand"> 
		DELETE FROM pay_trans_brand WHERE ptb_transBrandId = #{transBrandId}
	</delete>
	
	<select id="exists" parameterType="java.lang.Long" resultType="boolean">
		select count(*) from pay_trans_brand where ptb_transBrandId = #{transBrandId}
	</select>
	
	<select id="selectOne" parameterType="java.lang.Long" resultMap="transBrandResultMap">
		select * from pay_trans_brand
		where ptb_transBrandId = #{transBrandId}
	</select>
	
	<select id="selectAll" resultMap="transBrandResultMap">
		select * from pay_trans_brand
	</select>
	
	<select id="selectByPKs" parameterType="java.util.ArrayList" resultMap="transBrandResultMap">
		select * from pay_trans_brand
		where ptb_transBrandId in
		<foreach collection="array" item="transBrandId" open="(" separator="," close=")">
			 #{transBrandId}
		</foreach>
	</select>
	
	<select id="selectByProperty" parameterType="TransBrand" resultMap="transBrandResultMap">
	  SELECT * FROM pay_trans_brand 
		<where>
		  <if test="transBrandId !=null and transBrandId >= 0 ">
			 ptb_transBrandId=#{transBrandId}  
		  </if> 
	      <if test="transBrandCode !=null and transBrandCode!='' ">
			AND ptb_transBrandCode=#{transBrandCode}  
		  </if> 
	      <if test="transBrandName !=null and transBrandName!='' ">
			AND ptb_transBrandName=#{transBrandName}  
		  </if> 
	      <if test="state !=null and state!='' ">
			AND ptb_state=#{state}  
		  </if> 
	      <if test="remark !=null and remark!='' ">
			AND ptb_remark=#{remark}  
		  </if> 
	      <if test="createTime !=null and createTime!='' ">
			AND ptb_createTime=#{createTime}  
		  </if> 
	      <if test="updateTime !=null and updateTime!='' ">
			AND ptb_updateTime=#{updateTime}  
		  </if> 
		</where>
	</select>
	<select id="selectByPropertyKeyWord" parameterType="TransBrand" resultMap="transBrandResultMap">
	  SELECT * FROM pay_trans_brand 
		<where>
		  <if test="transBrandId !=null and transBrandId >= 0 ">
			 ptb_transBrandId=#{transBrandId}  
		  </if> 
	      <if test="transBrandCode !=null and transBrandCode!='' ">
			AND ptb_transBrandCode=#{transBrandCode}  
		  </if> 
	      <if test="transBrandName !=null and transBrandName!='' ">
			AND ptb_transBrandName=#{transBrandName}  
		  </if> 
	      <if test="state !=null and state!='' ">
			AND ptb_state=#{state}  
		  </if> 
	      <if test="remark !=null and remark!='' ">
			AND ptb_remark=#{remark}  
		  </if> 
	      <if test="createTime !=null and createTime!='' ">
			AND ptb_createTime=#{createTime}  
		  </if> 
	      <if test="updateTime !=null and updateTime!='' ">
			AND ptb_updateTime=#{updateTime}  
		  </if> 
		  <if test="keyWord !=null and keyWord!='' ">
			AND 
				(
		 		ptb_transBrandCode LIKE CONCAT(CONCAT('%', #{keyWord}),'%')
				 or
		 		ptb_transBrandName LIKE CONCAT(CONCAT('%', #{keyWord}),'%')
				 or
		 		ptb_state LIKE CONCAT(CONCAT('%', #{keyWord}),'%')
				 or
		 		ptb_remark LIKE CONCAT(CONCAT('%', #{keyWord}),'%')
				 or
			 	)
		  </if> 
		</where>
	</select>
</mapper>