html,body{
	width: 100%;
	height: 100%;
}
html,body,ul,li,ol,dl{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","Microsoft Yahei", Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self, Simsun;
	font-weight: 500;
}
.iBox{
	float:left;
	display: block;
}
.dt-name{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:200px;
	display: block;
	float: left;
}

.row{
	margin:0;
}
.nav-foot{
	position: fixed;
	bottom: 20px;
	width: 220px;
	text-align: center;
	font-size: 14px;
}

.table{
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius:5px;
}
table>thead>tr>th{
	text-align: center;
	vertical-align: middle !important;
	border-bottom: 0px !important;
    min-height: 40px;
}
table>tbody>tr,
table>tbody>tr>td{
	text-align: center;
	vertical-align: middle !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 14px;
	font-weight: 500;
	min-width: 50px;
}
table>tbody>tr:hover{
	background: #FBDDDB !important;
}
.hover{
	background: #FBDDDB ;
}
.tr_data{
	color: #ccc;
}
.spanLi{
	padding-right: 10px;
	margin-left: 15px;
}
.inputAll{
	width: 120px !important;
}

.btn{
	width: 120px !important;
}
#search{
	background: #00a8ea !important;
    color: #fff;
	margin-bottom: 10px;
}
.active{
	color: #fff;
}
.nav .number{
	margin-left: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
}
.spanAll{
	margin-left:8px;
	font-size: 14px;
	color: black;
}
.nav-second-level>li>a{
	color: #333;
}
.sidebar ul li a.active{
	color: #fff;
}
.form-inline .form-group input,
.form-inline .form-group .input-group input{
	width: 120px;
}


/*** 头部 start ***/
.navbar .navber-img{
	text-decoration: none;
}
.navbar .uline-lg{
	font-size: 20px;
	color: black;
}
.navbar .uline-ht{
	color: black;
}
.navbar .borLine{
	border-left: 1px solid #ccc;
	height: 30px;
	line-height: 50px;
}
.navbar-top-links li{
	float: left;
}

/*popover复写样式*/
.popover-content{
	width: 180px;
	color: #fff;
}
.dropdown .fade.in{
	opacity: 0.8;
}
.popover{
	background-color: #666;
	padding: 0;
}
.popover.bottom>.arrow{
	margin-left: 0;
}
.popover.bottom>.arrow:after{
	border-bottom-color: #666;
}
/*** 头部 end ***/




/*** 首页 start ***/
#page-wrapper .index-row{
	padding-top: 20px;
	padding-bottom:20px;
}
.panel-primary>a>.panel-heading {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}
.panel-heading{
	padding: 20px 15px;
}
.huge{
	font-size: 26px;
	text-align: center;
	line-height: 70px;
}

/*** 首页  end ***/





/*** 清算划付管理start ***/
#page-wrapper .row .form-right,
#page-wrapper .row .form-group{
	margin-right: 30px;
	padding-bottom: 10px;
}
.navber-img{
	padding-left: 20px;
}

.formbox{
	float:left;
	margin-right:20px;
}

#main-content .formlist{
	border:1px solid #ccc;
}

#main-content .formlist,
#main-content .bankcard{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.homeBox{
	color: #ccc;
}
.dis_right{
	min-width: 344px;
	height: 270px;
}
/*** 清算划付管理end ***/



/*** 清算申请管理start ***/

.form-inline{
	width: 100%;
	margin-bottom: 20px;
	display: inline-block;
}
.tabList{
	border: 1px solid #ccc;
	width: 500px;
}
.trBox{
	display: none;
}
.xlBox{
	width: 500px;
	text-align: center;
	margin-bottom: 20px;
}
.rightBox{
	border: 1px solid #ddd;
	padding: 30px;
	margin-left: 50px;
	margin-bottom: 20px;
	border-radius: 6px;
}
/*** 清算申请管理end ***/




/*** 渠道进件管理 start ***/
#tabAll{
	max-width: 60%;
}
.tab_left{
	width: 60%;
	float: left;
}
#mchPayInfo{
	width: 38%;
}
#tableLeft .row .col-md-12>button{
	border: none;
	background: #fff;
}
#tableBox{
	width: 100%;
}
#tableBox .rightLine{
	border-right: 1px solid #ccc;
}
#tableBox .leftLine{
	background: #fff;
	color: black;
}
#tableBox .col-md-2,
#tableBox .col-md-6,
#tableBox .col-md-8{
	height: 40px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}
.btnTop{
	margin-top:20px;
}
#tabs ul {
	list-style: none;
	display: block;
}
#tabs ul li{
	cursor:pointer;
	list-style:none;
	display:inline-block;
	background: #ccc;
	color: #fff;
}
.hidde{
	display: none;
}
.colBox{
	max-width: 435px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:20px 0;
}
.colHead{
	border-bottom: 1px solid #ccc;
}
#tabs .col-md-4,
#tabs .col-sm-4{
	min-height: 40px;
	line-height: 40px;
	text-align: center;
}
#add-callback p{
	min-height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0;
}
#add-callback div{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
}
.add-callback {
	display: inline-block;
	padding-right: 10px;
	max-width: 100%;
	word-wrap:break-word ;
}
.addressBox .modal-content{
	width: 450px;
}
.addressBox .modal-body{
	padding: 15px;
}
.addressBox .modal-body input{
	width: 100%;
	color: #ccc;
}
.addressBox .modal-body>div{
	text-align: start;
	color: #ccc;
	padding-top: 3px;
}
.addressBox .modal-footer{
	text-align: center;
}
.addressBox .modal-header .close{
	position: relative;
	margin-top: -5px;
    margin-right: -5px;
}

.displayImg{
	width: 100%;
}
.displayImg>img{
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 20px;
}

/*改版*/
#main-content{
	width: 770px;
}
#main-content .license>div{
	height: 40px;
}
#main-content .formlist{
	border:1px solid #ccc;
	margin-bottom: 20px;
}

#main-content .formlist h4{
	width: 100%;
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	background: #eee;
	padding-left: 20px;
}
#main-content .formlist>div>label{
	width: 246px;
	padding-left: 20px;
	margin: 0;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
}
#main-content .formlist>div>span{
	width: 522px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #ccc;
	padding-left: 30px;
	margin: 0;
	padding-bottom: 0;
}
#main-content .formlist .displayImg{
	height: 144px;
}
#main-content .formlist .displayImg>label{
	width: 246px;
	height: 144px;
	line-height: 144px;
}
#main-content .formlist .displayImg>span{
	width: 522px;
	height: 144px;
	line-height: 144px;
	display: inline-block;
}

#main-content .formlist .displayImg .recording{
	line-height: 2;
	overflow: auto;
}
.remark{
	height: 40px;
}
/*** 渠道进件管理 end ***/


/*** 商户进件管理 start ***/
.breadcrumb{
	border-bottom:1px solid #ccc ;
	padding: 8px 0px;
    list-style: none;
    background-color: #fff;
    border-radius: 0px;
}

.headBox{
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	margin-bottom: 20px;
}
.advancing{
	color: #ccc;
}
.headLi{
	border-bottom: 2px solid red;
	padding: 6px 0;
}
.zfBox{
	border: 1px solid #ccc;
	border-radius: 4px;
}
#tableLeft{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display: none;

}
.sh-infor{
	background: #ccc;
}
.tabBorder{
	border:1px solid #ccc;
}
.listBox{
	border: 1px solid #ccc;
	padding-left: 10px;
}
.col-md-12{
	padding: 0;
}
.list{
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
}
.list_lost{
	padding:10px 20px;
}
.list div>span>a>img {
	width: 100px;
	height: 100px;
	margin: 0px 30px 10px 0;
	display: inline-block;
}
.timeSpan{
	padding-bottom: 10px;
}
.pageBox{
	text-align: center;
}

#mchInfo .list h4,
.list_lost h4{
	color: #666;
}
#mchInfo .list label{
	width: 35%;
	color: #333;
}
#mchInfo .list>div{
	line-height: 30px;
}
#mchInfo .list>div>span{
	color: #333;
	width: 65%;
	display: inline-block;
}
.list_lost a{
	cursor: pointer;
}
/*** 商户进件管理 end ***/





/*** 新增商户 start ***/
.newheadBox {
	border: 1px solid #ccc;
	margin-bottom: 30px;
}
.newheadBox>p{
	background: #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
	color: #666;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
}
.newMchBox{
	padding: 20px;
}
.newMchBox .form-group>label{
	width: 150px;
	text-align: left;
}
.mackBox{
	height: 40px;
	font-size: 16px;
}
.newMchLine{
	width: 20px;
    height: 4px;
    background: red;
	transform: rotate(90deg);
	float: left;
	margin-top: 9px;
    margin-left: -6px;
}

.timeAll{
	width: 350px;
	padding: 0 15px;
	float: left;
}
.checkRight{
	margin-top: 5px;
}
#textareaBox{
	width: 100%;
	height: 200px;
	border: 1px solid #ccc;
}
#licenseImg{
	display: none;
	width: 100px;
	height: 100px;
	float: left;
}
.businessBox{
	float: left;
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.inspection{
	color: #ccc;
}
.description{
	color: #ccc;
}
.licenseSiz{
	display: inline-block;
    position: absolute;
    width: 200px;
    color: #E8594B;
	margin-top: 10px;
}

.dt_radio{
	display: inline-block;
	margin-right: 20px;
}
.dt-appId .form-group>label{
	width: 200px ;
	padding-top: 0;
}

#submit{
	background: #43c3aa;
	color: #fff;
}
#submit:hover{
	background: #fff;
	color: black;
}

.tabBox{
	margin-top: 30px;
	margin-bottom: 30px;
}
.tabBox .cont{
/*	display: flex;
	justify-content: center;*/
}
.tabBox .input-group{
	width: 150px;
	margin-left:auto;
	margin-right:auto;
}

.errors>li{
	color: darkred;
	font-size: 16px;
}
.select2-container .select2-selection--single{
	width: 100% !important;
	height: 34px !important;
	border: 1px solid #ccc !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 34px !important;

}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 34px !important;
}
/*** 新增商户 end ***/


.modal-header .close{
	margin-top: -10px;
}
.modal-body{
	text-align: center;
	padding: 30px 15px;
}
.modal-header,
.modal-footer{
	min-height: 20px;
	border: 0;
}
.modal-header，
.modal-body{
	min-width: 500px;
}
.modal-dialog{
	width:500px;
	margin: 150px auto;
}


/*** 商户退款详情 start ***/
#refund-conten{
	width: 902px;
}
.singleNumber{
	width: 100%;
	min-height: 122px;
	border:1px solid #ccc;
	margin-bottom: 20px;
}
.singleHeight{
	height: 202px;
}
.sn_left{
	width: 450px;
    position: relative;
	float: left;
}
.sn_right{
	width: 450px;
	float: right;
}
.singleNumber ul li{
	height: 40px;
	line-height: 40px;
	float: left;
	border-bottom: 1px solid #ccc;
}
.singleNumber ul li:last-child{
	border-bottom: 0;
}
.singleNumber ul li label{
	width: 165px;
	background: #eee;
	padding-left: 20px;
	margin: 0;
}
.singleNumber ul li>span{
	width: 285px;
	display: inline-block;
	padding-left: 20px;
	float: right;
}

/*** 商户退款详情 end ***/

/*** 商户进件 —— 批量 ***/
.batch{
	width: 700px !important;
}
#img_file{
    width: 200px;
    height: 200px;
    background: #ccc;
    margin: auto;
    font-size: 14px;
}
#myModalImg{
	padding-top: 30px;
}
.goNext{
	margin-top: 30px;
}
#myModal .modal-dialog{
	margin-top: 4% !important;
}
.col-md-1,
.col-sm-1,
.col-lg-1{
	padding: 0;
	text-align: center;
}
.pl-left{
	width: 8%;
	height: 36px;
	background: red;
	text-align: center;
	line-height: 36px;
}
.pl-right{
	width: 92%;
}
.pl-detailsBox {
	margin-bottom: 10px;
	width: 100%;
    height: 40px;
    line-height: 40px;
}
.tableAll{
	min-width: 1000px;
}

.numberList{
	color: #e8594b;
}
.btnBox{
	width: 100%;
	margin-bottom: 10px;
}
.addNew{
	float: left;
	margin-right: 10px;
}
.template{
	margin-bottom: 5px;
	background: #eee;
}
.input-group .form-control{
	text-align: center !important;
	z-index: 0;
}
#mch_activation{
	z-index: 99999;
}
#cityChoice,
select:hover{
	cursor: pointer;
}

#imgCardFront{
	width: 200px;
	overflow: hidden;
}
#cityChoice{
	background: #fff;
}
.ewm{
	background: url(/static/common/image/ico_weixin.png) left center no-repeat;
	margin: 0 30px 0 20px;
}



/*图片预览*/
#cardPositive{
	float: left;
	margin-right: 50px;
}
#imgCardFront,
#imgCardBack,#img_with_id_card{
	display: none;
}
#cardPositive{
	float: left;
	margin-right: 50px;
}
#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6,
#img_with_id_card1{
	width: 100px;
	height: 100px;
	margin-right: 50px;
}
.picImg{
	display: inline-block;
	color: #aaa;
}
.imgSize{
	display: inline-block;
    position: absolute;
    width: 200px;
    top: 110px;
    color: #E8594B;
    left: 300px;
}

.newSuccess{
	width: 180px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: fixed;
    z-index: 9999;
    background: #444C56;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 90px;
    left: 50%;
    font-size: 16px;
    color: #fff;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
/* statistic */
.statHead{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}
.statBox{
	padding: 20px 0;
}
.statBox>.col-md-2{
	border: 1px solid #ccc;
}
.statBox .contStat{
	width: 100%;

}
.statBox .contStat>li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left;
}
.statBox .contStat>li:nth-of-type(odd){
	width: 40%;
	text-align: start;
}
.statBox .contStat>li:nth-of-type(even){
	width: 60%;
	text-align: end;
}

.statForm{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
}
.statInput{
	width: 300px;
	margin-right: 20px;
}

#tab{
	width: 100%;
	height: 100%;
	padding: 20px;
	border:1px solid #ccc;
	text-align: end;
	overflow: hidden;
}
#tab .tabs{
	text-align: center;
	width: 100%;
}
#tab .tabs>li>a>h4{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}
#tab .tabs>li>a>p{
	line-height: 40px;
	font-size: 20px;
}
ul , li{
	display: block;
}
#tab .tabs .col-md-2>a{
	color: black;
}

#tab .tabs .active{
	background: #e8594b;
}
#tab .tabs .active>a{
	color: #fff;
}
#tab .tabs .col-md-2>a:hover,
#tab .tabs .col-md-2>a:link{
	text-decoration: none;
}
#tab .tabs>li:first-child{
	border: 0px;
}
.tabs>.col-md-2{
	border: 1px solid #ccc;
	padding:0;
	height: 100px;
}

.tab_content{
	display: none;
}
.statTab{
	margin-top: 20px;
}
.statTab>button{
	margin-bottom: 20px;
}
.statBox .form-inline{
	margin-bottom: 20px;
}
.triangle-down{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #e8594b;
	margin: auto;
}

/* statistic */
#cmbProvince,
#cmbCity,
#cmbArea{
	width: 33.33%;
	float: left;
}
.input-group-addon{
	background: #fff;
	border: 0;
}
#create_at_start,
#create_at_end{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.cont .input-group-addon{
	background: #eee;
	border: 1px solid #ccc;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.tab_cont{
	margin:20px auto;
	width: 1000px;
}
.tab_cont>thead>tr>th,
.tab_cont>tbody>tr>td{
	height: 60px;
}

/*** 清算申请管理start ***/

.form-inline{
	width: 100%;
	margin-bottom: 20px;
	display: inline-block;
}
.tabList{
	border: 1px solid #ccc;
	width: 500px;
}
.form-group{
	/*margin-right: 50px;*/
}
.trBox{
	display: none;
}
.xlBox{
	width: 500px;
	text-align: center;
	margin-bottom: 20px;
}
.rightBox{
	border: 1px solid #ddd;
	padding: 30px;
	margin-left: 50px;
	margin-bottom: 20px;
	border-radius: 6px;
}
/*** 清算申请管理end ***/

#main-content .refunds-num{
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
#main-content .refunds-num h4{
	width: 100%;
    margin: 0;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background: #eee;
    padding-left: 20px;
}
#main-content .refunds-num>div{
	height: 100px;
}
#main-content .refunds-num>div>label{
	width: 20%;
    padding-left: 20px;
    margin: 0;
    border-top: 1px solid #ccc;
    float: left;
	padding: 25px;
}
#main-content .refunds-num>div>span{
	width: 80%;
    padding-left: 20px;
    margin: 0;
    border-top: 1px solid #ccc;
    float: left;
	padding: 20px;
}
#main-content .refunds-num #enter-amount{
	width: 200px;
	margin-bottom: 10px;
}
#main-content .refunds-num .remain-num{
	display: inline-block;
	color: #ccc;
}
#main-content .refunds-num #withdraw{
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
#main-content .refunds-num .add-amount{
	color: #e8594b;
}

.annex_img{
	width: 100px;
    height: 100px;
    margin-right: 50px;
}
.X-Grid{display: flex;flex-direction: row;width: 100%;flex-wrap:wrap;}
.X-Grid div{width:24%;margin:10px 0.5%;padding: 10px;border-radius:4px;height: 70px;color:#fff}
.X-Grid div h4{line-height:10px;font-size: 25px}
.X-Grid div p{font-size: 14px}
.X-Grid .backLan{background: #5A93CD}
.X-Grid .backLu{background: #74C493}
.X-Grid .backHo{background: #EF7268}
.X-Grid .backHu{background: #FFC926}
.X-Grid .backFe{background: #949A96}
.X-Grid .backTu{background: #6A9DA8}
.X-Grid .backFen{background: #E279A3}
.X-tabe{border:1px solid #e7e7e7;width: 100%}
.X-tabe .top{background: #F7F7F7;font-size:14px;padding:2px 2px;box-sizing: border-box }


.X-tabe .X-tabList{display: flex;flex-direction: row;width: 100%;flex-wrap:wrap;margin-top: -10px;border-bottom: 1px solid #e7e7e7;border-top: 1px solid #e7e7e7;}
.X-tabe .X-tabList .tab{width: 25%;height: 50px;margin-top: 10px;margin-bottom: 10px;}
.X-tabe .X-tabList .bian{border-right: 1px solid #e7e7e7;}
.X-tabe .X-tabList .tab h4{text-align: center;line-height: 11px;font-size:24px;font-weight:600 }
.X-tabe .X-tabList .tab p{text-align: center}
